main {width: 50%;
    margin-left: auto;
    margin-right: auto;}
    header{text-align: center;}
footer {width: 50%;
    margin-left: auto;
    margin-right: auto;}
    header{text-align: center;}

#Logo {width:150px;}
#Titolo {background-color: rgba(246, 143, 0, 0.057);
font-size: 13px;
font-style:oblique;
padding: 12px;
border-top: 1px solid rgba(246, 144, 0, 0.628);}
#focaccia {border-radius: 10px;
width: 100%;
box-shadow: 2px 2px 8px rgba(11, 11, 11, 0.643);}
#sally { color: rgb(176, 170, 170);
margin-top: 3; margin-left: 35%;}
#feat { color: #bc0d0d;
}
#fresh {color: rgb(5, 89, 69);}
#feat, #fresh {margin-bottom: 0;
padding: 5px;
border-left: 1px solid rgb(245, 190, 9);}
#ingre {margin-top: 50px;
border-bottom: 1px solid rgb(0, 255, 247);
padding-bottom: 20px}
#meth {
border-bottom: 1px solid rgb(0, 255, 247);
padding-bottom: 20px;
}
.sopra {margin-top: 20px;}
.sotto {margin-top: 20px;};
#ultima {}
#simply {color: rgb(5, 89, 69);}